{% extends "layout.html" %}

{% block description %}The home page of the web app - no less{% endblock %}

{% block body %}
    <section>
        <h1>Welcome</h1>
        <p>Hello world</p>
    </section>
{% endblock %}